.Popup {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px groove gray;
    background-color: White;
    /*width: 700px;*/ 
    border-width: 2px; 
    border-color: #81DACF; 
    border-style: solid; 
    padding: 5px;
    left:250px;
}

.PopupTitle
{
    height: 20px;
    background-color: #2792A7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.PopupTable {
    background-color:white;
    color:gray;
    /*font-weight:bold;*/
    /*cursor:pointer;*/
    /*text-align:center;*/
}

